{
  "extends": ["airbnb-base", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "quotes": ["error", "single"],
    "no-tabs": "error",
    "indent": "off",
    "comma-dangle": "off",
    "operator-linebreak": "off",
    "@typescript-eslint/indent": "off",
    "implicit-arrow-linebreak": "off",
    "max-len": [
      "error",
      {
        "code": 255
      }
    ],
    "arrow-body-style": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "env": {
    "mocha": true,
    "node": true,
    "browser": true
  }
}
