<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <title>Formland</title>
    <meta name="author" content="Indix" />
    <meta name="description" content="A simple, super-flexible, extensible config based form generator for React." />

    <meta content="Formland" property="og:site_name" />
    <meta content="object" property="og:type" />
    <meta content="Formland" property="og:title" />
    <meta content="https://oss.indix.com/formland/" property="og:url" />
    <meta content="A simple, super-flexible, extensible config based form generator for React." property="og:description" />

    <meta name="twitter:site" value="@Indix" />
    <meta name="twitter:creator" value="@Indix" />
    <meta name="twitter:title" content="Formland" />
    <meta name="twitter:description" content="A simple, super-flexible, extensible config based form generator for React." />
  </head>
  <body>
  <div id="app"></div>
  </body>
</html>
