<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <title>React Diff Viewer</title>
    <meta name="author" content="Pranesh Ravi" />
    <meta name="description" content="A simple and beautiful text diff viewer made with Diff and React JS." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#704DFF" />

    <meta content="https://image.ibb.co/hGUuTL/react-diff-viewer.png" property="og:image"/>
    <meta content="React Diff Viewer" property="og:site_name" />
    <meta content="object" property="og:type" />
    <meta content="React Diff Viewer" property="og:title" />
    <meta content="https://github.com/praneshr/react-diff-viewer" property="og:url" />
    <meta content="A simple and beautiful text diff viewer made with Diff and React JS." property="og:description" />

    <meta name="twitter:card" value="summary_large_image"/>
    <meta name="twitter:site" value="@pranesh_ravi" />
    <meta name="twitter:creator" value="@pranesh_ravi" />
    <meta name="twitter:title" content="React Diff Viewer" />
    <meta name="twitter:description" content="A simple and beautiful text diff viewer made with Diff and React JS." />
    <meta name="twitter:image" content="https://image.ibb.co/hGUuTL/react-diff-viewer.png" />
  </head>
  <body>
    <div id="app"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/components/prism-json.min.js"></script>
  </body>
</html>
